/*Custom style*/
.footer{
	background-color:black;
	color:white;
}

.btn-carousel{
	background-color:black;
	color:white;
}

.btn-carousel:hover{
	background-color:grey;
	color:white;
}

.wrapper{
	margin-top: 50px;
	min-height: 300px;
}	