<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Shopping Cart</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="css/style.css" th:href="@{css/style.css}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/main.js" th:src="@{js/main.js}" ></script>
</head>
<body>


<!-- Header -->
<div th:replace="fragments :: header"></div>
	
	
<!-- Main content -->
<div class="wrapper">
	
	<div class="container">
		<h3 class="text-center">Your shopping cart</h3>
	
		<br />
		
		<!-- List all products user added to cart-->
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Product ID</th>
					<th>Name</th>
					<th>Color</th>
					<th>Price</th>
					<th></th>
				</tr>
			</thead>
			
			<tbody th:each = "cartItem: ${cart}">
				<tr>
					<td th:text = "${cartItem.productId}"></td>
					<td th:text = "${cartItem.name}"></td>
					<td th:text = "${cartItem.color}"></td>
					<td th:text = "'€' + ${cartItem.price}"></td>
					<td> <button type="button" class="btn btn-danger">Remove</button></td>
				</tr>
			</tbody>
			<tbody>
				<tr>
					<td colspan="2"></td>
					<td colspan="2"><h4 th:text = "'Total price: €' + ${totalPrice}"></h4></td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td colspan="2"><button type="button" class="btn btn-primary">Proceed to payment</button></td>
					<td colspan="2"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<!-- Footer -->
<div th:replace="fragments :: footer"></div>
	
</body>
</html>