<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Simple Electronics Store</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<p th:text="'Best devices and services!'" />
	<div class="col-md-4 text-center" th:each = "product: ${products}">
		<div class="thumbnail">
			<h4 th:text = "${product.name}"></h4>
			<img class="img-responsive" th:src = "${product.image}" />
			<br />
			<p th:text = "'Color: ' + ${product.description}"></p>
			<p th:text = "'Price: €' + ${product.price}"></p>
			<button type="button" class="btn btn-primary" > Add to cart </button>
		</div>
	</div>
</body>
</html>