<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="css/style.css" th:href="@{css/style.css}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/main.js" th:src="@{js/main.js}" ></script>
</head>
<body>


<!-- Header -->
<div th:replace="fragments :: header"></div>
	
	
<!-- Main content -->
<div class="wrapper">
	<div class="container text-center" >
		<br />
		<h4>After logout, your shopping cart info will be reset.<br />
		Do you want to continue?</h4> <br />
		
	    <form th:action="@{/logout}" method="post">
	        <input type="submit" value="Yes, log me out" class="btn btn-danger"/>
	    </form>
	    <br />
	    <a th:href="@{/}">
	    	<input type="submit" value="No, take me back to main page" class="btn btn-primary"/>
		</a>
	</div>
</div>


<!-- Footer -->
<div th:replace="fragments :: footer"></div>
	
</body>
</html>